/* .Person{
    width:60%;
    text-align:center;
    border: 1px solid #eee;
    margin:15px auto;
    box-shadow: 0px 2px 3px #ccc;
    padding:16px;
}
@media(min-width:500px):{
    width:'450px'       
} */